.heading{
  padding: 80px 0 70px 0;
  text-align: center;
}

.heading h1{
  margin: 0 0 3px 0;
  font-weight: bold;
  font-family: Poppins-Bold;
}

.heading p{
  margin: 0;
}

.round-input{
  margin-left: 15dp;
  margin-right: 15dp;
  border-radius: 50px;
 margin-bottom: 20px;
 border: 1px solid #d3d3d3;
}

.forgot{
  margin-top: -15px;
  font-family: "Poppins-Regular";
  font-weight: 400;
  font-size: 15px;
}

.btn-yellow{
       --background: GREEN;
       color: #fff;
       font-family: "Poppins-SemiBold";
       font-weight: 600;
       margin-top: 30px;
     
}

.sign-up{
  font-size: 13px;
}