<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Indus Inteview
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="heading">
    <h1>Login</h1>
    <p>Please sign in to continue</p>
</div>


  
    <ion-item class="round-input">
    
      <ion-input [(ngModel)]="username" type="email" name="email" placeholder="Email Address"></ion-input>
    </ion-item>
  
    <ion-item class="round-input">
      <ion-input [(ngModel)]="password" type="password" name="password" placeholder="Password"></ion-input>
    </ion-item>
  
  
    <ion-button  (click)="soapCall()" shape="round" expand="full" class="btn-yellow">Login</ion-button>
  
</ion-content>
